// main: main.less

//les fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


.icon{
   width: 7.5vw;
   margin: 1em 0.8em 0 0.8em;
}

/////////

html,body,main, #app{
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

body{
   font-family: "Open Sans";
   background-color: black;
   //background-image: url("img/bg.png");
   color: black;
}

body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-align: left;
    margin: auto;

}

/***** HEADER   *****/

header{
   text-align: left;
   margin: 0 auto;
   width: 100%;
}

header div{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

h1,h2,h3,p{
   margin: 0;
   color: #5a5a5a;
   padding: 0;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

h1{
   margin-top: 0.25em;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   font-size: 26vw;
   color: #efefef;
   text-align: left;
   line-height: 0.8em;
}

#intro h2{
   margin-top: 0.8em;
   color: #efefef;
   font-size: 1.8em;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   text-align: left;
   width: 50%;
   line-height: 1em;
}



/********* Article description ***///

#intro{
   padding-top: 5em;
}


#intro h1, #intro h2, #intro p{
   padding-left:15px;
}

#intro article p{
   color: #efefef;
   font-family: "Roboto";
   font-weight: 100;
   font-size: 1.7em;
   width: 65%;
   line-height: 1.25em;
   letter-spacing: 0.15em;
}

#intro img{
   display: block;
   margin: 1.5em auto;
   width: 60%;
}


/*******************  PROJETS   *******///

#sectionProjet .projet{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   border-top: 3em solid black;
   border-bottom: 3em solid black;
   min-height: 500px;
}

#sectionProjet .projet div{
   display: inline-block;
   padding:  10px 15px;
   background-color: white;
   opacity: 0.85;
}

#sectionProjet h2, #contact h2{
   font-size: 17.2vw;
   padding-left:15px;
   margin: 0;
   padding-bottom: 0.5em;
   font-family: "Roboto";
   font-weight: 900;
   line-height: 0.9em;
}

#sectionProjet article h3{
   font-size: 9vw;
}

#sectionProjet article p{
   font-size: 6.5vw;
}

#sectionProjet {
   margin-top: 5em;
   padding-top: 5em;
   background-color: #FFF;
   color: black;
}



//////// SECTION CONTACT

#contact{
   background-color: #FFF;
}

#contact h2{
   padding-top: 1em;
}

form{
   padding-top: 2em;
   margin: 0 auto;
   width: 90%;
}

form div{
   display: flex;
   width: 100%;
}

form div input{
   width: 50%;
   margin-bottom: 1em;
}

form div input:first-of-type{
   margin-right: 1em;
}

form textarea{
   width: 100%;
   box-sizing: border-box;
   height: 10em;
}

form button{
   color: #FFF;
   background-color: black;
   width: 7.5em;
   height: 2.25em;
   font-family: "Roboto";
   font-weight: 600;
   font-size: 5vw;
   margin-top: 0.5em;
   margin-bottom: 2em;
}

footer{
   padding-top: 2em;
   padding-bottom: 2.5em;
}

footer ul{
   display: flex;
   justify-content: center;
   flex-direction: row;
}

footer ul li{
   list-style: none;
   padding: 0.25em;
   font-size: 9vw;
   margin: 0 0.25em;
}

footer i{
   color: white;
}

footer img{
   width: 100%;
}
